
<%- include('./header.ejs')  %>
<% b.forEach ((item)=>{ %>
<div class="container mt-5">
    <div class="row">
          <div class="col-md-4 text-center"style="margin-top:50px">
            <img src="<%= item.image.url %>" width="280" height="290"  alt="blog1" class="blogpic text-center" />
            </div>
            <div class="col-md-8"style="margin-top:50px">
            <div class="blog-box">
              <h3><%= item.title %></h3>
              <!-- <p> <%= item.createdAt.toLocaleDateString() %></p> -->
               <p><%= item.description %></p>
              <!-- <a href="/detail/<%= item._id %>" class="btn btn-danger">Read more...</a>
            </div> -->
          </div>
          </div>
          </div>
          <% }) %>
    </div><!--row-end-->
  </div><!--container-end-->
<%- include('./footer.ejs')  %>