<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('./header.ejs') %>
  <link rel="stylesheet" href="/css/blog.css">
  <div class="container mt-5"style="margin-top:50px">
    <div class="row">
        <% b.forEach ((item)=>{ %>
          
          <div class="col-md-4"style="margin-top:50px">
            <div class="blog-box">
              <img src="<%= item.image.url %>" width="280" height="290"  alt="blog1" class="blogpic" />
    
              <h3><%= item.title %></h3>
              <p> <%= item.createdAt.toLocaleDateString() %></p>
              <p><%= item.description.slice(0,100) %></p>
              <a href="/blogdetail/<%= item._id %>" class="btn btn-danger">Read more...</a>
            </div>
          </div>
          <% }) %>
    </div><!--row-end-->
  </div><!--container-end-->
<%- include('./footer.ejs') %>
</body>
</html>
