<%- include('../../header.ejs') %>
<link rel="stylesheet" href="/css/edit.css">
<div class="container">
    <div class="row">
 <%- include('../adminsidebar.ejs') %>
    <div class="col-md-8 mp">
<h4>About Update</h4>
<form action="/aboutupdate/<%= edit._id %>" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="">title</label>
        <input type="text" class="from-control" name="title" value="<%= edit.title %>">
    </div>
    <div class="mb-3">
        <label for="">Description</label>
       <textarea type="text" class="form-control" name="description" rows="10"><%= edit.description %></textarea>
    </div>
       <br>
       <div class="md-3 mb-3">
        <label for="">Upload image</label>
        <input type="file" name="image" class="form-control">
    </div>
    <div class="md-3 mb-3">
    <img src="<%= edit.image.url %>"style="width:50%;">
</div>
    <button class="btn btn-info">update</button>
</form>
</div>
</div>
</div>
</div>
</div><!--row-end-->
</div><!--container-end-->
<%- include('../../footer.ejs') %>